<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\PoiCustomer[]|\Cake\Collection\CollectionInterface $poiCustomers
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Poi Customer'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Customer Types'), ['controller' => 'CustomerTypes', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Customer Type'), ['controller' => 'CustomerTypes', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Pois'), ['controller' => 'Pois', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Pois'), ['controller' => 'Pois', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="poiCustomers index large-9 medium-8 columns content">
    <h3><?= __('Poi Customers') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('fn') ?></th>
                <th scope="col"><?= $this->Paginator->sort('ln') ?></th>
                <th scope="col"><?= $this->Paginator->sort('phone') ?></th>
                <th scope="col"><?= $this->Paginator->sort('customer_type_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('poi_id') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($poiCustomers as $poiCustomer): ?>
            <tr>
                <td><?= $this->Number->format($poiCustomer->id) ?></td>
                <td><?= h($poiCustomer->fn) ?></td>
                <td><?= h($poiCustomer->ln) ?></td>
                <td><?= h($poiCustomer->phone) ?></td>
                <td><?= $poiCustomer->has('customer_type') ? $this->Html->link($poiCustomer->customer_type->name, ['controller' => 'CustomerTypes', 'action' => 'view', $poiCustomer->customer_type->id]) : '' ?></td>
                <td><?= $poiCustomer->has('pois') ? $this->Html->link($poiCustomer->pois->id, ['controller' => 'Pois', 'action' => 'view', $poiCustomer->pois->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $poiCustomer->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $poiCustomer->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $poiCustomer->id], ['confirm' => __('Are you sure you want to delete # {0}?', $poiCustomer->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
