<?php
$cakeDescription = '404: Enquete POI';
?>
<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><?= $cakeDescription ?></title>

  <!-- Custom fonts for this template-->
  <link href="/js/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <!-- <link href="css/sb-admin-2.css" rel="stylesheet"> -->
  <?= $this->Html->css('sb-admin-2.min.css');?>

</head>

<body id="page-top" class="sidebar-toggled">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Begin Page Content -->
        <div class="container-fluid min-vh-100 d-sm-flex align-items-center justify-content-center">
            <!-- 404 Error Text -->
                <div class="text-center">
                    <div class="error mx-auto" data-text="404">404</div>
                    <p class="lead text-gray-800 mb-5">Page Introuvable</p>
                    <p class="text-gray-500 mb-0">La page que vous demandez n'est pas disponible.</p>
                    <a href="javascript:history.back()" class="btn btn-primary text-white">&larr; Retour à la page précedente</a>
                </div>
        </div>
        <!-- /.cntainer-fluid-->
      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

</body>

</html>

