<?php
use Cake\Routing\Router;
  $active = explode('/',Router::normalize($this->request->getAttribute('here')))[1];

?>
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-0 static-top shadow">

<!-- Sidebar Toggle (Topbar) -->
<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
  <i class="fa fa-bars"></i>
</button>

<!-- Topbar Navbar -->
<ul class="navbar-nav ml-auto">

  <!-- Nav Item - Search Dropdown (Visible Only XS) -->
  <li class="nav-item dropdown no-arrow d-sm-none">
    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-search fa-fw"></i>
    </a>
    <!-- Dropdown - Messages -->
    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
      <form class="form-inline mr-auto w-100 navbar-search">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary text-white" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </li>

  <div class="topbar-divider d-none d-sm-block"></div>
  <li class="nav-item d-sm-flex align-items-center justify-content-center">
    <select class="form-control form-control-sm dropdown-toggle" style="height: 32px; padding: 4px" onchange="location = this.value;">
      <?php foreach($_user->roles as $_role): $profilId = $_role->profile_id;
        switch($profilId){
          case 6:
            $path = "super";
            $url=$this->Url->build(['prefix' => 'super', 'controller' => "dashboard", 'action' => 'index']);
            break;
          case 4:
            $path = "admin";
            $url=$this->Url->build(['prefix' => 'admin', 'controller' => "dashboard", 'action' => 'index']);
            break;
          case 3:
            $path = "responsable";
            $url=$this->Url->build(['prefix' => 'responsable', 'controller' => "dashboard", 'action' => 'index']);
            break;
          case 2:
            $path = "commercial";
            $url=$this->Url->build(['prefix' => 'commercial', 'controller' => "dashboard", 'action' => 'index']);
            break;
          case 1:
            $path = "enqueteur";
            $url=$this->Url->build(['prefix' => 'enqueteur', 'controller' => "dashboard", 'action' => 'index']);
            break;
        }
        if($profilId != 5) :
      ?>
        <option value="<?= $url ?>" <?= $path == $active ? 'selected': '' ?> ><?= $_role->profile->name ?></option>
        <?php endif; endforeach; ?>
    </select>
  </li>

  <div class="topbar-divider d-none d-sm-block"></div>

  <!-- Nav Item - User Information -->
  <li class="nav-item dropdown no-arrow">
    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="mr-2 d-none d-lg-inline text-gray-600 small"><?= $_user['fn'].' '.$_user['ln'] ?></span>
      <img class="img-profile rounded-circle" src="<?= $this->Url->image('empty.png') ?>">
    </a>
    <!-- Dropdown - User Information -->
    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
      <a class="dropdown-item" href="<?= $this->Url->Build(['controller' => 'Dashboard', 'action' => 'index']) ?>">
        <i class="fas fa-tachometer-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Dashbord
      </a>
      <?php if($active == "admin" || $active == "responsable" || $active == "commercial" || $active == "enqueteur"): ?>
      <a class="dropdown-item" href="<?= $this->Url->Build(['controller' => "Pois", 'action' => 'cartographie']) ?>">
        <i class="fas fa-map-marked-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Cartographie
      </a>
      <?php endif; if($active == "admin") :?>
      <a class="dropdown-item" href="<?= $this->Url->Build(['controller' => "Parametres", 'action' => 'index']) ?>">
        <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
        Parametres
      </a>
      <?php endif; ?>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="<?= $this->Url->Build(['prefix' => false,'controller' => "Users", 'action' => 'logout']) ?>">
        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
        Deconnexion
      </a>
    </div>
  </li>

</ul>

</nav>
